if os != 'windows'
    depends('mkdir')
    depends('strip')
endif
if os == 'windows'
    depends('gcc.exe')
else
    depends('gcc')
endif
depends('./src/entry/main.c')
depends('./src/input/input.c')
depends('./src/input/input.h')
depends('./src/lexer/lexer.c')
depends('./src/lexer/lexer.h')
depends('./src/token/token.h')
depends('./src/token_type/token_type.h')
depends('./src/parser/parser.c')
depends('./src/parser/parser.h')
depends('./src/math/math.c')
depends('./src/math/math.h')

[compiler]:
    compiler = 'gcc'

[sources]:
    0 = './src/entry/main.c'
    1 = './src/input/input.c'
    2 = './src/lexer/lexer.c'
    3 = './src/parser/parser.c'
    4 = './src/math/math.c'

[output]:
    release = ['-o', './bin/calcy']
    debug = ['-o', './bin/calcy_debug']

[flags]:
    release = ['-O3', '-std=c17', '-lm', '-DNDEBUG', '-masm=intel', '-mtune=native', '-march=native']
    debug = ['-Wall', '-std=c17', '-lm', '-g', '-ggdb3']

if os != 'windows'
    [make_dir]:
        cmd = ['mkdir', '-p', './bin']

    [strip]:
        cmd = ['strip', './bin/calcy']
endif

[release]:
    compiler()
    flags()[0]
    sources()
    output()[0]
    
[debug]:
    compiler()
    flags()[1]
    sources()
    output()[1]

[all]:
    if os != 'windows'
        make_dir()
    endif
    release()
    debug()
    if os != 'windows'
        strip()
    endif